@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter';
    transition: all 150ms linear !important;
    scroll-behavior: smooth;
}

:root {
    /* FONT-SIZES */
    --fs_1: 2.25rem;
    --fs_2: 1rem;
    /* COLORS */
    --white: #fff;
    --off_white: #f6f6f6;
    --light_blue: #128DFF;
    --dark_blue: #1444EF;
    --gray: #808080;
    --black: #0000;
}

body {
    background: #F7F7F7;
    /* background: black; */
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.whiteSpace_nowrap {
    white-space: nowrap;
}

.overflow_auto {
    overflow: auto;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 3px;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    background: rgb(142, 142, 233);
    border-radius: 3px;
    width: 15px;
    height: 5px;
    cursor: pointer;
}

.min_vh_100 {
    min-height: 100vh;
}

.w-100vw {
    width: 100vw;
}

.d_flex {
    display: flex;
}

.justify_content_center {
    justify-content: center;
}

.justify_content_between {
    justify-content: space-between;
}

.align_items_center {
    align-items: center;
}

.flex_column {
    flex-direction: column;
}

.px_5 {
    padding-right: 3.125em !important;
    padding-left: 3.125em !important;
}

.py_5 {
    padding: 48px 0;
}

.pb_2 {
    padding-bottom: 2rem;
}

.p_2 {
    padding: .5rem;
}

.p_4 {
    padding: 1.5rem;
}

.my_5 {
    margin: 48px 0;
}

.mb_5 {
    margin-bottom: 2.25rem;
}

.mb_3 {
    margin-bottom: 1rem;
}

.mb_1 {
    margin-bottom: 4px;
}

.fs_1 {
    font-size: var(--fs_1);
}

.fs_2 {
    font-size: var(--fs_2);
}

.text_center {
    text-align: center;
}

.mx_auto {
    margin: 0 auto;
}

.mw_460 {
    width: 90%;
    max-width: 460px;
}

.w_100 {
    width: 100%;
}

.position_absolute {
    position: absolute;
}

.position_relative {
    position: relative;
}

.inputField:focus {
    outline: none;
}

.inputField {
    padding: 1.25em;
    font-size: var(--fs_2);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.shadow_1 {
    background: #FFFFFF;
    box-shadow: 0px 11px 44px -10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.btn,
.calc_btn {
    border-radius: 4px;
    padding: 0.75em 1.5em;
    min-width: 140px;
    font-size: var(--fs_2);
    border: 0 none;
    cursor: pointer;
    font-weight: 600;
    transition: all 30ms linear;
}

.calc_btn {
    min-width: unset;
}

.btn:hover,
.calc_btn:hover,
.retake_icon:hover {
    transform: scale(1.05);
}

.button_filled {
    background: linear-gradient(97.42deg, var(--light_blue) -4.95%, var(--dark_blue) 109.04%);
}

.button_outlined {
    border: 1px solid var(--light_blue);
    background: transparent;
    color: var(--light_blue);
}

.fw_600 {
    font-weight: 600;
}

.fw_normal {
    font-weight: 400;
}

.black_400 {
    color: var(--gray);
}

.text_black {
    color: var(--black);
}

.border_priamry {
    border: 1px solid var(--light_blue);
}

.color_white {
    color: var(--white);
}

.coloe_primary {
    color: var(--light_blue);
}

.text_left {
    text-align-last: left;
}

.retake_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding: .6em;
    top: 12px;
    right: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.584);
}

/* .back_icon {
    width: 40px;
    height: 40px
} */

.result_box {
    background: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input.inputField::-webkit-outer-spin-button,
input.inputField::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.inputField[type=number] {
    -moz-appearance: textfield;
}

@media (max-width:576px) {
    .fs_1 {
        font-size: 1.50rem;
    }

    .fs_2 {
        font-size: .8rem;
    }

    :root {
        /* FONT-SIZES */
        --fs_1: 1.50rem;
        --fs_2: .8rem;
    }
}